@(matchForm: Form[Match], videos: List[Video])

<html>
<head>
    <title>Relacje LIVE</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/live.css")">

</head>
<body>

<div id="header">
    <table class="headerPanel" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td class="sideColumn">&nbsp;</td>
            <td class="centralColumn" valign="top"><a href="@routes.Matches.index()">Lista meczów</a></td>
            <td class="sideColumn">&nbsp;</td>
        </tr>
    </table>
</div>
<div id="scoreBoard">
    <table class="boardTable" cellspacing="0" cellpadding="0">
        <tr>
            <td class="emblemColumn" valign="bottom"><img src="@routes.Assets.at(matchForm("team1.crest").value)"/></td>
            <td class="boardColumn" valign="top">
                <div class="matchDate">Rozpoczęcie meczu: <span id="matchStartDate">@matchForm("match_date").value.format("dd-MM-yyyy kk:mm")</span></div>
                <table class="scoreTable" width="90%">
                    <tr>
                        <td class="scoreTeam" id="scoreTeamHost">@matchForm("team1.name").value</td>
                        <td class="scoreGoals">
                            <span id="hostGoalsFull">@matchForm("score1").value</span>:<span id="guestGoalsFull">@matchForm("score2").value</span>
                            <div id="halfGoals" class="halfGoals">(<span id="hostGoalsHalf">@matchForm("score1").value</span>:<span id="guestGoalsHalf">@matchForm("score2_half").value</span>)</div>
                        </td>
                        <td class="scoreTeam" id="scoreTeamGuest">@matchForm("team2.name").value</td>
                    </tr>
                </table>
                <div class="matchTime" id="matchTime">
                 @matchForm("status").value.toString() match{
                    case "0" => {Mecz się jeszcze nie rozpoczął}
                    case "1" => {Trwa 1. połowa}
                    case "2" => {Przerwa}
                    case "3" => {Trwa 2. połowa}
                    case "4" => {Trwa dogrywka}
                    case "5" => {Rzuty karne}
                    case "6" => {Koniec meczu}
                 }
                </div>
            </td>
            <td class="emblemColumn" valign="bottom"><img src="@routes.Assets.at(matchForm("team2.crest").value)"/></td>
        </tr>
    </table>
</div>
<div id="contentWrapper">
    <div class="leftCol">
        <div class="colHeader"><img src="@routes.Assets.at("images/col_header_arrow.png")" width="20" height="15" /> Relacja LIVE: &nbsp;<span id="headerTeamNames">-</span></div>
        <div class="colContent">
            <div class="playersPanel">
                <div class="topPart"></div>
                <div class="middlePart">
                    <table id="playersTable">
                        <tr>
                            <td colspan="2">
                                <table class="matchDetails" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td ><img src="@routes.Assets.at("images/live/referee.png")" /> Sędzia: <strong id="matchReferee">@matchForm("referee.firstname").value @matchForm("referee.lastname").value</strong></td>
                                        <td  align="center"><img src="@routes.Assets.at("images/live/spectators.png")" /> Widzów: <strong id="matchSpectators">@matchForm("viewers").value</strong></td>
                                        <td  align="right"><img src="@routes.Assets.at("images/live/weather.png")" /> Pogoda: <strong id="matchWeather">@matchForm("weather").value</strong></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="bottomPart"></div>
            </div>

            <div class="liveHeader">Minuta po minucie:</div>
            <div id="eventList"></div>
        </div>
    </div>
    <div class="rightCol">
        <div class="panelHeader">Statystyki</div>
        <div class="panelContent" style="background-color:white;color:black;text-align:center;float:center;margin: 7 7 7 7;border-radius: 12px;font-size:12px;">
            <strong>Bramki</strong><br>
            @matchForm("statistics.goals1").value:@matchForm("statistics.goals2").value (@matchForm("statistics.goals1_half").value:@matchForm("statistics.goals2_half").value)<br>
            <strong>Słupki/Poprzeczki:</strong><br>
            @matchForm("statistics.goalpost1").value:@matchForm("statistics.goalpost2").value (@matchForm("statistics.goalpost1_half").value:@matchForm("statistics.goalpost2_half").value)<br>
            <strong>Strzały celne:</strong><br>
            @matchForm("statistics.attempts_target1").value:@matchForm("statistics.attempts_target2").value (@matchForm("statistics.attempts_target1_half").value:@matchForm("statistics.attempts_target2_half").value)<br>
            <strong>Strzały niecelne:</strong><br>
            @matchForm("statistics.attempts_offtarget1").value:@matchForm("statistics.attempts_offtarget2").value (@matchForm("statistics.attempts_offtarget1_half").value:@matchForm("statistics.attempts_offtarget2_half").value)<br>
            <strong>Strzały zablokowane:</strong><br>
            @matchForm("statistics.attempts_blocked1").value:@matchForm("statistics.attempts_blocked2").value (@matchForm("statistics.attempts_blocked1_half").value:@matchForm("statistics.attempts_blocked2_half").value)<br>
            <strong>Rzuty rożne</strong>:<br>
            @matchForm("statistics.corners1").value:@matchForm("statistics.corners2").value (@matchForm("statistics.corners1_half").value:@matchForm("statistics.corners2_half").value)<br>
             <strong>Faule:</strong><br>
            @matchForm("statistics.fouls1").value:@matchForm("statistics.fouls2").value (@matchForm("statistics.fouls1_half").value:@matchForm("statistics.fouls2_half").value)<br>
            <strong>Spalone:</strong><br>
            @matchForm("statistics.offsides1").value:@matchForm("statistics.offsides2").value (@matchForm("statistics.offsides1_half").value:@matchForm("statistics.offsides2_half").value)<br>
            <strong>Żółte kartki:</strong><br>
            @matchForm("statistics.yellow_cards1").value:@matchForm("statistics.yellow_cards2").value (@matchForm("statistics.yellow_cards1_half").value:@matchForm("statistics.yellow_cards2_half").value)<br>
            <strong>Czerwone kartki:</strong><br>
            @matchForm("statistics.red_cards1").value:@matchForm("statistics.red_cards2").value (@matchForm("statistics.red_cards1_half").value:@matchForm("statistics.red_cards2_half").value)<br>
        </div>
        <div class="panelHeader">Zdjęcia</div>
        <div class="panelContent">
            <div class="moreItems"><a href="/">zobacz wszystkie <img src="@routes.Assets.at("images/list_arrow.png")" border="0" /></a></div>
        </div>
        @if(!videos.isEmpty){
        <div class="panelHeader">Wideo</div>
        <div class="panelContent">
            @for(v <- videos) {
                <iframe class="videoItem" title="YouTube video player" width="252" height="160" src="@v.path" frameborder="0" allowfullscreen style="max-width:100%;"></iframe>
            }
         </div>
        }
    </div>

</body>
</html>
    


