@(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Relacje LIVE</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

<header class="topbar">
    <h1 class="fill">
        <a href="@routes.Teams.index()">
            Panel
        </a>
            <div style="float:right;">
                <a href="@routes.Teams.index()">Zespoły</a>
                <a href="@routes.Referees.index()">Sędziowie</a>
                <a href="@routes.Players.index()">Piłkarze</a>
                <a href="@routes.Seasons.index()">Sezony</a>
                <a href="@routes.Matches.index()">Mecze</a>
                <a href="@routes.Games.index()">Rozgrywki</a>
                <a href="@routes.Matches.index()">Mecze</a>
                @if(session.get("login")){
                <a href="@routes.Application.logout()">Wyloguj</a>
                }
            </div>
    </h1>
</header>

<section id="main">
    @content
</section>


</body>
</html>
